body{background-color: #111;}
#titlee{
    color: #5FF;
    padding: 1rem ;
    max-width: 600px;
    margin-left: 0%;
    font-weight: bolder;
    font-size: 7vh;
}
.head{margin: auto;}
header{background-color: #222;display: flex;border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.3rem 0rem;
    background-image: linear-gradient(to top,rgb(2 44 44),rgb(0 0 0));
  } 
a:hover {background-color: rgb(2 44 44);color: #b4ffff;}
b:hover {background-color: rgb(2 44 44);color: #b4ffff;}
.image{
    height: 9vh;
    width: 9vh;
    display: block;
    border-radius: 50%;
    border: #5FF;
    box-shadow: 0 0 20px #5ff;
    border-style: solid;
    margin: auto;
    margin-right: 0px;
}
hr{list-style:circle;margin: 0%;margin-bottom: 2vh;margin-top: 1vh;}
#main{display: flex;flex-direction: row;color: #5ff;margin-inline-start:auto;flex-wrap: wrap;}
.trigolist,.linearlist,.quadraticlist{display: none;flex-direction: column;}
#main>div{margin-left: 15%;cursor:pointer;}
.titem{text-decoration: none;color: #5FF;font-size: 4vh;margin: 1vh;}
#rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1em;
    color: #999;
    font-weight: 400;
  }
  .range {
    width: 30vh;
    height: 2vh;
    -webkit-appearance: none;
    background: rgb(136, 181, 218);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(4, 38, 38);
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(158, 199, 242);
    cursor: pointer;
    border: 4px solid #555;
    box-shadow: -407px 0 0 400px rgb(5, 13, 54);
  } 
element.style {
  display: block;
  height: 100%;
  width: 100%;
}